/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
:root{
    --def-margin: 2rem;
}
p-menubar, p-panel, p-card {
    margin: var(--def-margin);
}

.p-dataview {
  --p-dataview-content-padding: 2rem;
}